@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

:root{
    --section-margin: 80px;
    --section-margin: 5rem;
    --max-section-width: 1300px;
}

body{
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    letter-spacing: 1px;
    line-height: 1.5;
    color: rgb(20, 20, 20);
}

.center{
    text-align: center;
}

.bold{
    font-weight: 500;
}

::-moz-selection { /*  For Firefox */
    background: rgb(87, 161, 201);
  }
  
::selection {
    background: rgb(84, 138, 166);
    color: white;
  }  

button{
    background-color: transparent;
    border: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

ul li{
    list-style-type: none;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

h1{
    font-size: clamp(1.5rem, 3vw + 1rem, 3rem);
    font-weight: 600;
    line-height: 1;
    max-width: 30ch;
    margin-top: 7rem;
    margin-bottom: 2rem;
}

h2{
    font-size: clamp(1.3rem, 3vw + 1rem, 2.7rem);
    font-weight: 500;
    margin: 2rem 0;
    line-height: 1.1;
}

h3{
    font-size: clamp(1rem, 1vw + 1.2rem, 1.8rem);
    font-weight: 500;
    margin: 2rem 0;
    line-height: 1.2;
}

h4{
    font-weight: 500;
}

a{
    text-decoration: none;
    color: inherit;
}
 
/* End of reset */

/* Website header */

header .header-image img{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 550px;
    object-fit: cover;
    object-position: 20% 80%;
    filter: brightness(70%);
    z-index: -9;
}

header{
    color: white;
    display: flex;
    justify-content: center;
}

header h1{
    max-width: 20ch;
    margin-inline: auto;
    text-align: center;
}

header .header-text{
    width: 90%;
    margin: 0 auto;
}

header .header-text p{
    font-size: 18px;
    text-align: center;
    max-width: 50ch;
    margin-inline: auto;
    margin-bottom: 3rem;
}

header .contacts-header{
    display: flex;
    justify-content: center;
    gap: 0.8rem;
}

@media screen and (max-width: 700px) {
    header .contacts-header{
        flex-direction: column;
        align-items: center;
    }
}

header .contacts-header .contacts-phone,
header .contacts-header .whatsup{
    color: black;
    background-color: rgb(247, 247, 247);
    padding: 0.7rem 2rem;
    text-align: center;
    width: fit-content;
    border-radius: 3px;
}

header .contacts-header .contacts-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

/* End of intro section */
/* Benefits section */

main .benefits{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 100px;
    width: 90%;
    max-width: var(--max-section-width);
    margin-inline: auto;
    margin-bottom: var(--section-margin);
}

main .benefits h2{
    font-size: clamp(1rem, 1vw + 1.2rem, 1.8rem);
    font-weight: 500;
    margin-top: 1rem;
    text-align: center;
}

main .benefits .benefit{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5eef5;
    padding-top: 1rem;
    border-radius: 8px;
}

main .benefits .benefit img{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

@media screen and (max-width: 1240px) {
    main .benefits{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 755px) {
    main .benefits{
        grid-template-columns: 1fr;
    }
}

/* End of benefits section */

/* Nomera section */

main .nomera{
    width: 90%;
    max-width: var(--max-section-width);
    margin-inline: auto;
    margin-bottom: var(--section-margin);
}

main .nomera h2{
    color: #7a436d;
}

main .nomera .nomera-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 1.5rem;
    width: 100%;
}

@media screen and (max-width: 820px) {
    main .nomera .nomera-wrapper{
        grid-template-columns: 1fr;
    }
}

main .nomera .nomer{
    border: 1px solid rgb(180, 180, 180);
    display: grid;
    grid-template-rows: min-content 1fr;
    width: 100%;
    height: fit-content;
}

main .nomera .nomer .room-price p{
    font-weight: 500;
    padding-bottom: 1rem;
}

main .nomera .nomer .nomer-description{
    padding: 0.8rem;
}

main .nomera .nomer h3{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 24px;
}

.nomer .nomer-swiper{
    max-height: 400px;
    width: 100%;
    --swiper-pagination-bullet-size: 15px;
    --swiper-pagination-bullet-width: 15px;
    --swiper-pagination-bullet-height: 15px; 
    --swiper-pagination-bullet-horizontal-gap: 8px;
    --swiper-navigation-size: 20px;
    --swiper-navigation-color: rgb(240, 221, 255);
    position: relative;
    overflow: hidden;
}

.nomer .nomer-swiper .swiper-pagination-bullet{
    background-color: rgb(244, 230, 255);
} 

.nomer .nomer-swiper .swiper-button-prev,
.nomer .nomer-swiper .swiper-button-next{
    background-color: hsl(287, 100%, 95%);
    padding: 1.3rem;
    border-radius: 50%;
    box-shadow: rgba(70, 70, 70, 0.2) 0px 2px 8px 0px;
    color: rgb(18, 18, 18);
}

.nomer .nomer-swiper .swiper-wrapper{
    display: flex;
}
 
.nomer .nomer-swiper .swiper-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.nomer .more-info{
    overflow: hidden;
}

.nomer .more-info .content-header,
.nomer .more-info .content-footer{
    color: #a06591;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    cursor: pointer;
}

.nomer .more-info .content-header img.rotate{
    rotate: -90deg;
    transition: rotate 150 ease-in-out;
}

.nomer .more-info .content-footer img{
    rotate: -90deg;
}

.nomer .more-info .more-info-description{
    padding: 0 10px;
    height: 0px;
    transition: all 0.2s linear;
}

.additional-info img{
    width: 25px;
    height: 25px;
}

.additional-info{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 0.8rem;
}

.additional-info .room-space{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #e2e4e7;
    padding: 0.4em;
    cursor: default;
}

.additional-info .room-space img{
    width: 20px;
    height: 20px;
}

.additional-info .room-descriptive-images{
    display: flex;
    gap: 1rem;
}

.additional-info .room-descriptive-images .tooltip{
    position: relative;
}

.additional-info .room-descriptive-images .tooltip:hover::after{
    position: absolute;
    left: -100%;
    top: -300%;
    width: max-content;
    background-color: #3d3d3d;
    color: white;
    padding: 10px;
    content: attr(data-tooltip);
}

@media screen and (max-width: 600px) {
    .additional-info .room-descriptive-images .tooltip:last-child:hover::after{
        left: -450%;
    }

    .additional-info .room-descriptive-images .tooltip:nth-child(3):hover::after{
        left: -450%;
    }
}

@media screen and (max-width: 400px) {
    .additional-info .room-descriptive-images .tooltip:last-child:hover::after{
        left: -700%;
    }
}
 
.nomer .more-info .room-information{
    margin-block: 1rem;
}

.nomer .more-info .room-information img{
    width: 24px;
    height: 24px;
}

.nomer .more-info .room-information .room-information-header{
    display: flex;
    gap: 0.5rem;
}

.nomer .more-info .room-information ul{
    margin-left: 2rem;
    margin-top: 1rem;
}

.nomer .more-info .room-information ul li{
    margin-bottom: 0.5rem;
}

/* End of nomera section */

/* About us section */

main .about-us{
    background-color: #f5eef5;
    margin-bottom: var(--section-margin);
}

main .about-us h2{
    margin-top: 0;
}

main .about-us .about-us-wrapper{
    width: 90%;
    max-width: var(--max-section-width);
    margin: 0 auto;
    padding-block: 2rem;
}

main .about-us p{
    max-width: 70ch;
}

main .about-us p:first-child{
    margin-bottom: 1rem;
}

main .about-us .about-us-photos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding-top: 0.5rem;
    background-color: white;
}

/* End of about us section */

/* Places near by section */

main .places-near-by{
    width: 90%;
    max-width: var(--max-section-width);
    margin: 0 auto;
    margin-bottom: var(--section-margin);
}

main .places-near-by h2{
    color: #7a436d;
}

main .places-near-by ul li{
    margin-bottom: 0.7rem;
    position: relative;
}

main .places-near-by ul li::before{
    position: absolute;
    content: '';
    left: -2rem;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background-color: #7a436d;
}

main .places-near-by ul{
    margin-bottom: 1.5rem;
    margin-left: 2.5rem;
}

main .places-near-by p{
    max-width: 70ch;
}

main .places-near-by .images-of-places{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

/* End of places near by section */

/* Reviews section */

main .reviews{
    width: 90%;
    max-width: var(--max-section-width);
    margin-inline: auto;
    margin-bottom: var(--section-margin);
}

main .reviews h2{
    margin-top: 0;
}

main .reviews .subheader{
    position: relative;
    margin-left: 2rem;
    font-weight: 500;
    color: #7a436d;
}

main .reviews .subheader::before,
main .reviews .subheader::after{
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 2px;
    background-color: #7a436d;

}

main .reviews .subheader::before{
    left: -2rem;
}

main .reviews .subheader::after{
    right: -2rem;
}

main .reviews .reviews-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

main .reviews .reviews-wrapper .review{
    background-color: #f5eef5;
    height: fit-content;
    padding: 1.5rem;
}

main .reviews .reviews-wrapper .review h3{
    margin-block: 0.5rem;
    text-align: center;
}

main .reviews .reviews-wrapper .review img{
    margin-inline: auto;
}

main .reviews .reviews-wrapper .review p{
    margin-top: 1rem;
}

@media screen and (max-width: 950px) {
    main .reviews .reviews-wrapper{
        grid-template-columns: 1fr 1fr;
    }

    main .reviews .reviews-wrapper .review:last-child{
        grid-column-start: 1;
        grid-column-end: -1;
    }

    main .reviews .reviews-wrapper .review:last-child p{
        max-width: 70ch;
    }
}

@media screen and (max-width: 599px) {
    main .reviews .reviews-wrapper{
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    main .reviews .reviews-wrapper .review{
        padding: 1rem;
    }
}

/* End of reviews section */

/* Reserve rest section */

main .reserve-a-room{
    background-color: rgb(248, 248, 248);
}

main .reserve-a-room-wrapper{
    width: 90%;
    max-width: var(--max-section-width);
    margin-inline: auto;
    margin-bottom: var(--section-margin);
    padding-block: 2rem;
}

main .reserve-a-room h2{
    text-align: center;
    margin-top: 0;
}

main .contact-form{
    max-width: 700px;
    margin-inline: auto;
}

main .reserve-a-room .form-header{
    display: grid;
    gap: 1.5rem;
    margin-bottom: 1rem;
    width: 100%;
}

main .reserve-a-room .form-header .form-box{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

main .reserve-a-room .form-header input{
    padding: 1rem;
}

main .reserve-a-room .form-header label,
main .reserve-a-room .form-footer label{
    color: #7a436d;
}

main .reserve-a-room .form-footer textarea{
    padding: 1rem;
    width: 100%;
}

main .contact-form button{
    background-color: #a06591;
    color: white;
    cursor: pointer;   
    padding: 1rem 3rem;
    width: 100%;
    margin-top: 0.5rem;
}

/* End of cta section */

/* Contacts section */

main .contacts{
    width: 90%;
    max-width: var(--max-section-width);
    margin-inline: auto;
    margin-bottom: var(--section-margin);
}

main .contacts h2{
    margin-top: 0;
}

.contacts .contact-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

@media screen and (max-width: 900px) {
    .contacts .contact-info{
        grid-template-columns: 1fr;
    }
}

.contacts .contact-info .contact-description  p{
    margin-bottom: 1rem;
}

.contacts .contact-description .contacts-phone a{
    border-bottom: 1px solid rgb(15, 15, 15);
}

/* Yandex maps */

.contacts-map{
    width: 100%;
    height: 100%;
    min-height: 400px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.ymaps-2-1-79-gototech{
    display: none !important;
}

.balloon .balloon-title h2{
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 0.3rem;
    padding-top: 1rem;
}

.balloon .balloon-title{
    text-align: center;
}
 
.balloon{
    font-size: 1rem;
    --border-ballon-color: #7a436d;
}

.balloon .balloon-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--border-ballon-color);
    margin-bottom: 0;
    gap: 1.5rem;
}

.balloon .balloon-header div{
    margin-bottom: 0;
}

.balloon div{
    margin-bottom: 1rem;
}

.balloon .balloon-location,
.balloon .balloon-phone,
.balloon .balloon-working-hours{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.balloon .balloon-review{
    width: max-content;
}

.balloon .balloon-review .client-ranking{
    display: flex;
    gap: 0.3rem;
}

.balloon .balloon-phone{
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--border-ballon-color);
    justify-content: center;
}

.balloon .balloon-location{
    padding: 0.5rem 0;
}

.balloon .balloon-location img,
.balloon .balloon-phone img,
.balloon .balloon-working-hours img{
    width: 20px;
}
 
.balloon .balloon-how-to-get-to-us{
    color: rgb(255, 255, 255);
    padding: 1rem;
    background-color: #b081a4;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (max-width: 955px) {
    .how-to-get-to-us .get-to-us-main{
        flex-direction: column;
    }
}

@media screen and (max-width: 450px) {
    .balloon .balloon-header{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        align-items: center;
    }

    .balloon .balloon-title{
        border-bottom: 1px solid var(--border-ballon-color);
        padding-bottom: 1rem;
    }
}
 
/* End of contacts section */

/* Footer */

footer{
    background-color: #7a436d;
    color: white;
    padding-block: 2rem;
}

footer p{
    width: 90%;
    margin-inline: auto;
    text-align: center;
}

footer a{
    text-decoration: underline;
}